body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    color: white;
    background-color: rgb(30, 13, 45);
    margin: 20px;
    padding: 15px;
    background: url(https://preview.redd.it/whos-the-best-chef-v0-2waws2cx0zlc1.jpg?width=1080&crop=smart&auto=webp&s=06dcc9c83533642f4d6956a9669299eddcae7cfb) cover;
    position: relative;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: rgb(230, 255, 157);
}