*{
    margin: 10px;
    padding: 30px;
}
.h1{
    color: rgb(54, 95, 54);
    margin:auto;
    padding: 20px;
    outline: 2px solid rgb(255, 0, 0);
    background-color: rgb(242, 148, 195);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 40px;
    width: 125px;
    align-items: center;

    
}
.topics p:not(.head){
    text-align: left;
    font-size: 20px;
    color: rgb(5, 39, 23);
    font-family: 'Times New Roman', Times, serif;
}
.topics .head {
    color: rgb(148, 99, 9);
}